.clearfix() {
    &:before,
    &:after {
        content: '';
        display: table;
        width: 100%;
    }
}

body {
    height: 100%;
    font-family: 'Proxima Nova';
}

@import "payoff-page";
@import "payoff-wrapper";
@import "payoff-header";
@import "payoff-example";
@import "payoff-formula";
@import "payoff-calculate";
@import "payoff-try";
@import "payoff-button";
@import "payoff-ai";
@import "payoff-annotate";
@import "payoff-main";
@import "payoff-soft";
@import "payoff-footer";

