.payoff-example {
    .clearfix();
    margin-bottom: 85px;
    color: #7d7d7d;
    font-weight: 300;

    &:first-child {
        margin-top: 100px;
    }

    &:last-child {
        margin-bottom: 100px;
    }

    &__number {
        float: left;
        color: #f0082a;
        font-size: 24px;
        width: 27px;
    }

    &__content {
        float: left;
        width: 912px;
    }

    &__red-wrapper {
        border-left: 1px solid #ed1f24;
        padding-left: 40px;
    }

    &__title {
        color: #000;
        font-size: 24px;
        margin-bottom: 18px;
    }

    &__view {
        color: #ed1f24;
        font-size: 16px;
        line-height: 20/16;
        margin-top: 50px;
        cursor: pointer;
        display: inline-block;
    }

    &__example {
        display: none;
        margin-top: 25px;
        padding-left: 41px;
        font-size: 16px;
        line-height: 20/16;

        &_visible {
            display: block;
        }
    }

    &__mark {
        color: #000;
    }

    &__formula {
        font-size: 28px;
        line-height: 1;
        color: #000;
        margin-top: 15px;
    }

    &__item {
        display: inline-block;
        vertical-align: top;
    }

    &__value {
        display: block;
    }

    &__month {
        font-size: 14px;
        text-align: center;
        color: #555f64;
        display: block;
    }
}
